
body {
  font-family: 'Arial', sans-serif; /* Style de police */
  margin: 0;
  padding: 0;
}

.homepage {
  background-image: url('./processus-nettoyage-vapeur-interieur-poignee-porte-voiture-apres-lavage-mousse-au-detergent-brosse_255847-7953.avif'); /* Remplacez par le chemin de votre image */
  background-size: cover; /* Ajuste la taille de l'image pour couvrir la totalité de l'élément */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Évite la répétition de l'image */
  color: #fff; /* Couleur du texte */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: rgba(51, 51, 51, 0.8); 
  color: #fff;
  padding: 10px;
  text-align: center;
}

.content {
  margin: 20px 0;
}

.footer {
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  padding: 10px;
  text-align: center;
}
