
body {
  background-color: #1f1f1f; /* Couleur de fond sombre */
  color: #fff; /* Couleur du texte en mode sombre */
  font-family: 'Arial', sans-serif;
}

.form_main {
  background-color: #333; /* Fond du formulaire en mode sombre */
  color: #fff; /* Couleur du texte du formulaire en mode sombre */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.inputIcon {
  fill: #ccc; /* Couleur de l'icône */
}

.inputField {
  background-color: #444; /* Fond du champ de saisie en mode sombre */
  color: #fff; /* Couleur du texte du champ de saisie en mode sombre */
  border: 1px solid #555;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
}

#button {
  background-color: #ff4081; /* Couleur du bouton */
  color: #fff; /* Couleur du texte du bouton en mode sombre */
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.signupContainer {
  margin-top: 20px;
  text-align: center;
}

#button:hover {
  background-color: #d81b60; /* Couleur du bouton au survol */
}

/* Ajoutez d'autres styles créatifs selon vos besoins */
