body {
  background-image: url('./Pourquoi-faire-une-formation-pour-ouvrir-une-entreprise-de-nettoyage-vapeur.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_main {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.inputContainer {
  position: relative;
  margin-bottom: 20px;
}

.inputIcon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.inputField {
  width: 100%;
  padding: 10px 35px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signupContainer {
  text-align: center;
}

.signupContainer p {
  margin: 10px 0;
  color: #555;
}

.signupContainer a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
